In [1]:
import pandas as pd

df = pd.read_csv("../data/data.csv")
df.head()

,User ID,Timestamp,Age,Gender,Location,Languages Spoken,Class 10 Percentage,Class 12 Percentage,Class 12 Stream,Graduate Major,...,Work Preference,Preferred Industries,Preferred Roles,Conscientiousness,Extraversion,Openness,Agreeableness,Emotional Stability,Current Status,Target Job Role
0,2ca88c4f-dfe5-4207-a004-e5a902c5f0e7,2025-01-20 06:18:52.887014,25,Male,Lucknow,"English, Telugu, Punjabi",85.27,64.09,Arts,BBA,...,Hybrid,"Manufacturing, E-commerce, Retail",Software Engineer,5,1,1,3,2,Student,Software Engineer
1,2382edc6-39f2-409f-a154-257331feed33,2025-11-13 06:18:52.887187,21,Female,Lucknow,"Punjabi, Gujarati, Malayalam, English",85.64,56.85,Commerce,BCom,...,"Remote, Hybrid","E-commerce, Manufacturing, Healthcare, Finance",Software Engineer,5,4,3,2,4,Student,Software Engineer
2,a65b87bb-1b29-42df-9542-1140e131b94f,2025-11-10 06:18:52.887294,18,Male,Jaipur,"Tamil, Kannada, Punjabi",61.22,74.91,Science,BCA,...,Hybrid,"Technology, Consulting, Retail",AI Engineer,4,3,5,3,1,Student,AI Engineer
3,b0c2edb4-0b17-4d02-96fd-ded977e7b9df,2025-05-26 06:18:52.887379,45,Other,Chennai,"Telugu, Gujarati, Bengali",69.09,77.70,Commerce,BBA,...,Flexible,Manufacturing,Software Engineer,3,5,3,1,3,Working Professional,Software Engineer
4,38d0bd2f-4722-472a-af2e-f2a9773d547f,2025-07-25 06:18:52.887454,43,Other,Hyderabad,Malayalam,68.76,83.80,Commerce,BBA,...,"Flexible, Office",Manufacturing,Data Analyst,1,3,3,1,2,Working Professional,Data Analyst

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User ID                  400 non-null    object
 1   Timestamp                400 non-null    object
 2   Age                      400 non-null    int64
 3   Gender                   400 non-null    object
 4   Location                 400 non-null    object
 5   Languages Spoken         400 non-null    object
 6   Class 10 Percentage      400 non-null    float64
 7   Class 12 Percentage      400 non-null    float64
 8   Class 12 Stream          400 non-null    object
 9   Graduate Major           400 non-null    object
 10  Graduate CGPA            400 non-null    float64
 11  PG Major                 311 non-null    object
 12  PG CGPA                  400 non-null    float64
 13  Highest Education        400 non-null    object
 14  Academic Consistency     400 non-null    float64
 15  Technical Skills         400 non-null    object
 16  Tech Skill Proficiency   400 non-null    float64
 17  Soft Skills              400 non-null    object
 18  Soft Skill Proficiency   400 non-null    float64
 19  Skill Embedding          400 non-null    object
 20  Courses Completed        400 non-null    int64
 21  Avg Course Difficulty    400 non-null    int64
 22  Total Hours Learning     400 non-null    int64
 23  Course Keywords          400 non-null    object
 24  Project Count            400 non-null    int64
 25  Avg Project Complexity   400 non-null    int64
 26  Project Keywords         400 non-null    object
 27  Experience Months        400 non-null    int64
 28  Experience Types         400 non-null    object
 29  Job Level                400 non-null    object
 30  Work Keywords            400 non-null    object
 31  Interest STEM            400 non-null    float64
 32  Interest Business        400 non-null    float64
 33  Interest Arts            400 non-null    float64
 34  Interest Design          400 non-null    float64
 35  Interest Medical         400 non-null    float64
 36  Interest Social Science  400 non-null    float64
 37  Career Preference        400 non-null    object
 38  Work Preference          400 non-null    object
 39  Preferred Industries     400 non-null    object
 40  Preferred Roles          400 non-null    object
 41  Conscientiousness        400 non-null    int64
 42  Extraversion             400 non-null    int64
 43  Openness                 400 non-null    int64
 44  Agreeableness            400 non-null    int64
 45  Emotional Stability      400 non-null    int64
 46  Current Status           400 non-null    object
 47  Target Job Role          400 non-null    object
dtypes: float64(13), int64(12), object(23)
memory usage: 150.1+ KB

In [7]:
df.isnull().sum()

User ID                     0
Timestamp                   0
Age                         0
Gender                      0
Location                    0
Languages Spoken            0
Class 10 Percentage         0
Class 12 Percentage         0
Class 12 Stream             0
Graduate Major              0
Graduate CGPA               0
PG Major                   89
PG CGPA                     0
Highest Education           0
Academic Consistency        0
Technical Skills            0
Tech Skill Proficiency      0
Soft Skills                 0
Soft Skill Proficiency      0
Skill Embedding             0
Courses Completed           0
Avg Course Difficulty       0
Total Hours Learning        0
Course Keywords             0
Project Count               0
Avg Project Complexity      0
Project Keywords            0
Experience Months           0
Experience Types            0
Job Level                   0
Work Keywords               0
Interest STEM               0
Interest Business           0
Interest Arts               0
Interest Design             0
Interest Medical            0
Interest Social Science     0
Career Preference           0
Work Preference             0
Preferred Industries        0
Preferred Roles             0
Conscientiousness           0
Extraversion                0
Openness                    0
Agreeableness               0
Emotional Stability         0
Current Status              0
Target Job Role             0
dtype: int64

In [8]:
df.nunique()

User ID                    400
Timestamp                  400
Age                         33
Gender                       3
Location                    16
Languages Spoken           273
Class 10 Percentage        383
Class 12 Percentage        388
Class 12 Stream              3
Graduate Major               8
Graduate CGPA              219
PG Major                     4
PG CGPA                    211
Highest Education           15
Academic Consistency        61
Technical Skills             5
Tech Skill Proficiency       8
Soft Skills                  3
Soft Skill Proficiency      51
Skill Embedding              1
Courses Completed           31
Avg Course Difficulty        5
Total Hours Learning       285
Course Keywords              1
Project Count               13
Avg Project Complexity       5
Project Keywords             1
Experience Months          174
Experience Types            16
Job Level                    3
Work Keywords                1
Interest STEM               11
Interest Business           11
Interest Arts               11
Interest Design             11
Interest Medical            11
Interest Social Science     11
Career Preference            4
Work Preference             16
Preferred Industries       216
Preferred Roles              7
Conscientiousness            5
Extraversion                 5
Openness                     5
Agreeableness                5
Emotional Stability          5
Current Status               2
Target Job Role              7
dtype: int64