In [1]:
import pandas as pd

df = pd.read_csv("../data/data.csv")
df.head()

,User ID,Timestamp,Age,Gender,Location,Languages Spoken,Class 10 Percentage,Class 12 Percentage,Class 12 Stream,UG Major,...,Work Preference,Preferred Industries,Preferred Roles,Conscientiousness,Extraversion,Openness,Agreeableness,Emotional Stability,Current Status,Target Job Role
0,FMQML2L8,2025-09-05T07:06:03.913222,30,Female,India,"Tamil,English",88.876196,63.121825,Arts,Computer Science,...,"Remote,Hybrid","Education,FinTech","Product Manager,Teacher",4,5,1,3,3,Student,Data Analyst
1,M82LBGSI,2025-07-18T07:06:03.913326,47,Male,India,"Tamil,Hindi",88.608129,98.684456,Science,Computer Science,...,Remote,Entertainment,DevOps Engineer,3,3,3,4,4,Working Professional,UX Designer
2,LOBRSO7G,2025-07-22T07:06:03.913383,50,Other,India,"Malayalam,Gujarati",78.050440,84.125651,Arts,Computer Science,...,Remote,"Entertainment,Healthcare,Retail","Product Manager,Teacher",3,4,4,5,4,Student,UX Designer
3,DV5AXI7C,2025-10-12T07:06:03.913435,36,Female,India,Bengali,72.310475,76.087198,Commerce,Computer Science,...,"Office,Remote","Manufacturing,Technology","DevOps Engineer,Product Manager",5,5,4,3,5,Student,Software Engineer
4,9SIPX504,2025-08-14T07:06:03.913484,19,Female,India,"Gujarati,Marathi,Punjabi",79.230778,69.553559,Commerce,Computer Science,...,"Hybrid,Flexible",Retail,"Software Engineer,Marketing Manager",4,3,5,4,5,Student,Software Engineer

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User ID                  400 non-null    object
 1   Timestamp                400 non-null    object
 2   Age                      400 non-null    int64
 3   Gender                   400 non-null    object
 4   Location                 400 non-null    object
 5   Languages Spoken         400 non-null    object
 6   Class 10 Percentage      400 non-null    float64
 7   Class 12 Percentage      400 non-null    float64
 8   Class 12 Stream          400 non-null    object
 9   UG Major                 400 non-null    object
 10  UG CGPA                  400 non-null    float64
 11  Graduate Major           0 non-null      float64
 12  Graduate CGPA            400 non-null    int64
 13  PG Major                 0 non-null      float64
 14  PG CGPA                  400 non-null    int64
 15  Highest Education        400 non-null    object
 16  Standardized Test Score  400 non-null    int64
 17  Academic Consistency     400 non-null    float64
 18  Technical Skills         400 non-null    object
 19  Tech Skill Proficiency   400 non-null    float64
 20  Soft Skills              400 non-null    object
 21  Soft Skill Proficiency   400 non-null    float64
 22  Skill Embedding          400 non-null    object
 23  Courses Completed        400 non-null    int64
 24  Avg Course Difficulty    400 non-null    int64
 25  Total Hours Learning     400 non-null    int64
 26  Course Keywords          400 non-null    object
 27  Project Count            400 non-null    int64
 28  Avg Project Complexity   400 non-null    int64
 29  Project Keywords         400 non-null    object
 30  Experience Months        400 non-null    int64
 31  Experience Types         400 non-null    object
 32  Job Level                400 non-null    object
 33  Work Keywords            400 non-null    object
 34  Interest STEM            400 non-null    float64
 35  Interest Business        400 non-null    float64
 36  Interest Arts            400 non-null    float64
 37  Interest Design          400 non-null    float64
 38  Interest Medical         400 non-null    float64
 39  Interest Social Science  400 non-null    float64
 40  Career Preference        400 non-null    object
 41  Work Preference          400 non-null    object
 42  Preferred Industries     400 non-null    object
 43  Preferred Roles          400 non-null    object
 44  Conscientiousness        400 non-null    int64
 45  Extraversion             400 non-null    int64
 46  Openness                 400 non-null    int64
 47  Agreeableness            400 non-null    int64
 48  Emotional Stability      400 non-null    int64
 49  Current Status           400 non-null    object
 50  Target Job Role          400 non-null    object
dtypes: float64(14), int64(15), object(22)
memory usage: 159.5+ KB

In [3]:
df.isnull().sum().sort_values(ascending=False)

PG Major                   400
Graduate Major             400
User ID                      0
Age                          0
Timestamp                    0
Gender                       0
Location                     0
Class 12 Percentage          0
Class 12 Stream              0
Languages Spoken             0
Class 10 Percentage          0
UG CGPA                      0
UG Major                     0
Graduate CGPA                0
PG CGPA                      0
Highest Education            0
Standardized Test Score      0
Academic Consistency         0
Technical Skills             0
Tech Skill Proficiency       0
Soft Skills                  0
Soft Skill Proficiency       0
Skill Embedding              0
Courses Completed            0
Avg Course Difficulty        0
Total Hours Learning         0
Course Keywords              0
Project Count                0
Avg Project Complexity       0
Project Keywords             0
Experience Months            0
Experience Types             0
Job Level                    0
Work Keywords                0
Interest STEM                0
Interest Business            0
Interest Arts                0
Interest Design              0
Interest Medical             0
Interest Social Science      0
Career Preference            0
Work Preference              0
Preferred Industries         0
Preferred Roles              0
Conscientiousness            0
Extraversion                 0
Openness                     0
Agreeableness                0
Emotional Stability          0
Current Status               0
Target Job Role              0
dtype: int64

In [4]:
df.describe(include='all')

,User ID,Timestamp,Age,Gender,Location,Languages Spoken,Class 10 Percentage,Class 12 Percentage,Class 12 Stream,UG Major,...,Work Preference,Preferred Industries,Preferred Roles,Conscientiousness,Extraversion,Openness,Agreeableness,Emotional Stability,Current Status,Target Job Role
count,400,400,400.000000,400,400,400,400.000000,400.000000,400,400,...,400,400,400,400.000000,400.000000,400.000000,400.000000,400.000000,400,400
unique,400,400,NaN,3,1,201,NaN,NaN,3,1,...,16,169,61,NaN,NaN,NaN,NaN,NaN,2,8
top,GIMQ1OWG,2025-07-20T07:06:03.960502,NaN,Female,India,Marathi,NaN,NaN,Arts,Computer Science,...,Hybrid,Entertainment,DevOps Engineer,NaN,NaN,NaN,NaN,NaN,Working Professional,Business Analyst
freq,1,1,NaN,150,400,21,NaN,NaN,139,400,...,65,20,33,NaN,NaN,NaN,NaN,NaN,204,61
mean,NaN,NaN,34.220000,NaN,NaN,NaN,80.466170,80.060168,NaN,NaN,...,NaN,NaN,NaN,3.060000,3.022500,3.110000,2.932500,3.022500,NaN,NaN
std,NaN,NaN,9.402533,NaN,NaN,NaN,11.070102,11.499235,NaN,NaN,...,NaN,NaN,NaN,1.405824,1.475614,1.434589,1.377566,1.430773,NaN,NaN
min,NaN,NaN,18.000000,NaN,NaN,NaN,60.125810,60.212534,NaN,NaN,...,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN
25%,NaN,NaN,26.000000,NaN,NaN,NaN,71.164219,70.085035,NaN,NaN,...,NaN,NaN,NaN,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,NaN
50%,NaN,NaN,34.000000,NaN,NaN,NaN,79.306679,80.158513,NaN,NaN,...,NaN,NaN,NaN,3.000000,3.000000,3.000000,3.000000,3.000000,NaN,NaN
75%,NaN,NaN,42.000000,NaN,NaN,NaN,90.340238,89.852603,NaN,NaN,...,NaN,NaN,NaN,4.000000,4.000000,4.000000,4.000000,4.000000,NaN,NaN
max,NaN,NaN,50.000000,NaN,NaN,NaN,99.983288,99.868109,NaN,NaN,...,NaN,NaN,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,NaN,NaN

In [5]:
list(df.columns)

['User ID',
 'Timestamp',
 'Age',
 'Gender',
 'Location',
 'Languages Spoken',
 'Class 10 Percentage',
 'Class 12 Percentage',
 'Class 12 Stream',
 'UG Major',
 'UG CGPA',
 'Graduate Major',
 'Graduate CGPA',
 'PG Major',
 'PG CGPA',
 'Highest Education',
 'Standardized Test Score',
 'Academic Consistency',
 'Technical Skills',
 'Tech Skill Proficiency',
 'Soft Skills',
 'Soft Skill Proficiency',
 'Skill Embedding',
 'Courses Completed',
 'Avg Course Difficulty',
 'Total Hours Learning',
 'Course Keywords',
 'Project Count',
 'Avg Project Complexity',
 'Project Keywords',
 'Experience Months',
 'Experience Types',
 'Job Level',
 'Work Keywords',
 'Interest STEM',
 'Interest Business',
 'Interest Arts',
 'Interest Design',
 'Interest Medical',
 'Interest Social Science',
 'Career Preference',
 'Work Preference',
 'Preferred Industries',
 'Preferred Roles',
 'Conscientiousness',
 'Extraversion',
 'Openness',
 'Agreeableness',
 'Emotional Stability',
 'Current Status',
 'Target Job Role']

In [7]:
df.nunique().sort_values()

PG Major                     0
Graduate Major               0
Location                     1
Graduate CGPA                1
UG Major                     1
PG CGPA                      1
Course Keywords              1
Skill Embedding              1
Project Keywords             1
Work Keywords                1
Current Status               2
Class 12 Stream              3
Gender                       3
Job Level                    3
Career Preference            4
Avg Project Complexity       5
Openness                     5
Agreeableness                5
Extraversion                 5
Conscientiousness            5
Avg Course Difficulty        5
Emotional Stability          5
Target Job Role              8
Project Count               11
Highest Education           15
Work Preference             16
Experience Types            16
Courses Completed           20
Age                         33
Preferred Roles             61
Soft Skills                 80
Standardized Test Score    101
Experience Months          110
Preferred Industries       169
Languages Spoken           201
Total Hours Learning       210
UG CGPA                    257
Technical Skills           268
Timestamp                  400
Class 10 Percentage        400
Tech Skill Proficiency     400
Academic Consistency       400
Soft Skill Proficiency     400
User ID                    400
Class 12 Percentage        400
Interest Business          400
Interest Social Science    400
Interest Medical           400
Interest Arts              400
Interest Design            400
Interest STEM              400
dtype: int64